.icons{
    background-color:  #f6f7d4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.icons-item{
    margin-right: 15px;
}

@media screen and (max-width: 414px){
    .icons-item{
        width: 40%;
        padding-right: 0%; 
        margin-right: 15px;
    }
    
}

