.about{
    display: flex;
    flex-direction: column;
}


.about_title{
    display: flex;
    justify-content: center;
}

.about_paragraph{
    margin: 0 10% 0 10%;
    text-align: center;
}




@media only screen and (max-width: 320px){

}