.card-container {
  background-color: #f6f7d4;
  margin-top: 4rem;
  padding: 2%;
}

/* .card-1, .card-2, .card-3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    max-width: 100%;
     width: 24%;  
    border: solid white 1px;
    margin: 1%;
    border-radius: 10%;
    padding-bottom: 3%;  
}

.card-item--img{
    max-width: 100%;
    width: 60%;
    height: 100%;
    max-height: 150px;
    border-radius: 10%;
}

.btn{
    border: 30px;
    background: #28DF99;
    padding: 5%;
    width: 43%;
    display: flex;
    justify-content: center;
    border-radius: 10%;
}
a{
    color: white;
    text-decoration: none;
}



@media screen and (max-width: 768px){
    .card-item--img{
        height: 100%;
        max-height: 104px;
    }
}
@media screen and (max-width: 667px){
    .card-item{
        width: 30%;
    }
    .card-container{
        padding-right: 7%;
    }
}
@media screen and (max-width: 500px){
    .card-item{
        width: 30%;
    }
    .card-item--title{
        font-size: 0.9rem;
    }
    .card-item--img{
        max-height: 78px;
    }
}

@media screen and (max-width: 414px){
    .card-1,.card-2, .card-3{
        flex-direction: column;
    }
    .card-item{
        width: 45%;
    }
}
@media screen and (max-width: 320px){
    .card-item{
        width: 60%;
    }
} */
