.navbar{
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
}
.navbar_itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 6%;
    list-style-type: none;
}

.navbar_itens li{
    padding: 5%;
}

.logo_img img{
    width:100%;
    max-width: 150px;
    
}
    