.navbar{
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
}
.logo_img{
    width: 150px;
}
.logo_img img{
    width:100%;
}
.navbar_itens li{
    list-style-type: none;
    float: left;
    padding-right: 15px;
    padding-top: 15px;
}
    