.footer{
    background-color: #214252;
    color: white;
    padding: 5%;
    display: flex;
    justify-content: center;
    
}

.footer a{
    color: #e8ffff;
    text-decoration: none;
}

.footer a:hover{
    color: #28DF99;
}
@media(min-width: 320px) and (max-width: 379px) {
    .footer p{
        font-size: 84%;

    }
    
}